/* Base */
.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  height: 40px;
}

/* Variantes */
.primary {
  background-color: #dde0e7;
  color: rgb(0, 0, 0);
}

.secondary {
  background-color: gold;
  color: rgb(7, 5, 5);
}
